.footer {
  width: 100%;
  background-image: url(/public/assests/Gallery/gallery10.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 100px;
}
.footer_overly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  opacity: 0.9;
}
.footer_box_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px 70px 0px;
  gap: 35px;
}
.footer_box {
  position: relative;
  width: 400px;
  height: 241px;
  box-sizing: border-box;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_box_middle {
  position: relative;
  width: 170px;
  height: 241px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer_title {
  font-size: 20px;
  color: white;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 27px;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}
.links {
  margin-bottom: 05px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.social {
  display: flex;
  gap: 14px;
}
.links_icons {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 30px;
  color: var(--primary_color);
  border-radius: 50%;
  justify-content: center;
  align-content: center;
}
.before::before {
  position: absolute;
  content: ">";
  color: var(--primary_color);
  font-size: 17px;
  font-weight: 700;
  margin-left: -15px;
  display: none;
  transition: 500ms all ease;
}
.before::before:hover {
  display: block;
}
.footerbar {
  text-align: center;
  padding: 20px 0px;
  background-color: #212d2b;
  color: #98a8a5;
}
@media (max-width: 1026px) {
  .footer_box_conatiner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
    gap: 65px;
  }
  .footer_box {
    padding: 10px 0px;
    width: 80%;
  }
}
